body {
    gap: 20px;
}
header {
    border: 2px solid;
    display: flex;
    flex-direction: row;
    gap: 120px;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
   
}
.navegar {
    display: flex;
    gap: 120px;
}
img {
    height: 70px;
}
.linha_cabeçalho {
    height: 55px;
    width: 0px;
}
gap: 20px;
align-items: center;